<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040406695243-911eq7jfa0q1aloglo47rvliu9hv8f4i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040406695243-911eq7jfa0q1aloglo47rvliu9hv8f4i</string>
	<key>API_KEY</key>
	<string>AIzaSyAtbpnXOysSTnJVmMsm5X2HW_doupeHGKo</string>
	<key>GCM_SENDER_ID</key>
	<string>1040406695243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.projectathena.app</string>
	<key>PROJECT_ID</key>
	<string>first-project-e9bd5</string>
	<key>STORAGE_BUCKET</key>
	<string>first-project-e9bd5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040406695243:ios:f6afd23804aded88f16cce</string>
</dict>
</plist>